# executables
*.exe
*.out
*.o
*.obj
*.class
__pycache__/
*.pyc

# temporary files
*.log
*.tmp

# generated submission files
submit.cpp
solve_expand.cpp

# local root workspace files
/input.txt
/solve.cpp
/other.cpp
/debug.cpp
/bibliography/
/cloudeflight_coding_contest/

# debug folders
debug/

# OS
.DS_Store
Thumbs.db

# editor local configs
.vscode/*.code-workspace
/.vscode/
/.clangd

# generated local configuration
/cmd/cmd_macros.local.txt
