*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.java text eol=lf
*.json text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

/.clang-format text eol=lf
/.clangd text eol=lf
/.gitattributes text eol=lf
/.gitignore text eol=lf
/.gitmodules text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
/scripts/cp_macros text eol=crlf
